section.about
    h1.title Монтаж дымоходов

    include breadcrumps.pug

    p.about__description  В <span class="about__name">Дымоход.ру</span>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .