div.advantages
    div.advantages__wrapper 
        div.advantages__header 
            h2.advantages__title Lorem ipsum dolor sit amet
            span.advantages__subtitle Lorem ipsum
        
        ul.advantages__list
            li.advantages__item Доступные цены
            li.advantages__item Собственное производсвто  Дымоходов
            li.advantages__item Выполнение необходимых работ,связанных с установкой камина, печи, котла
            li.advantages__item Гарантия (от трёх до десяти лет)
            li.advantages__item Работаем чисто, аккуратно, убираем засобой, не сквернословим
            li.advantages__item Только русские квалифицированныеспециалисты
            li.advantages__item Устанавливаем любые дымоходы всехпроизводителей

    div.advantages__img
        div.triangle.triangle__double
            include ../svgIcons/triangle-right.svg
            include ../svgIcons/triangle-right_orange.svg
        div.triangle.triangle__triple
            include ../svgIcons/triangle-right.svg
            include ../svgIcons/triangle-right_orange.svg
            include ../svgIcons/triangle-right.svg
            
        div.advantages__img-wrapper
            include ../svgIcons/Blob.svg
            div.advantages__img-flue
                img(src="@img/flue.png", alt="flue")