ul.breadcrumbs
   li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Главная
   li.breadcrumbs__item.show-mobile
      a.breadcrumbs__link(href="#") Каталог
   li.breadcrumbs__item.show-mobile
      a.breadcrumbs__link(href="#") Камины  
   li.breadcrumbs__item.show-mobile.breadcrumbs__item--active 
      a.breadcrumbs__link(href="#") Камины облицовки 