nav.header__nav.nav
        ul.nav__list
            li.nav__item
                a(href="#").nav__link Каталог товаров
            li.nav__item
                a(href="#").nav__link Доставка и оплата
            li.nav__item
                a(href="#").nav__link Цены
            li.nav__item
                a(href="#").nav__link Контакты

        a(href="tel:+7 (812) 509 21 98").nav__link +7 (812)509 21 98

        a(href="#").nav__link Перезвоните мне

        div.nav__social.social 
            a(href="#").nav__link
                include ../svgIcons/vk.svg 
            a(href="#").nav__link
                include ../svgIcons/telegram.svg 
                
            a(href="#").nav__link 
                include ../svgIcons/instagram.svg 
            a(href="#").nav__link
                include ../svgIcons/whatsapp.svg  