.process
    h2.process__title Процесс выполнения монтажа

    ul.process__list
        li.process__item <span>1</span>Рассчёт предварительной заявки
        li.process__item <span>2</span> Замер объекта нашим инженером
        li.process__item <span>3</span>Составление Коммерческого предложения поизделиям дымохода и окончательной сметы на  работы 
        li.process__item <span>4</span> Изготовление Дымохода, покраска (еслитребуется)
        li.process__item <span>5</span>Монтаж продукции, проверка иналадкапробный запуск системы и последующая эксплуатация
        li.process__item <span>6</span>Гарантийное обслуживание по соответствующем сроку