section.reasons
    h2.header__title Почему Дымоход.ру?
    p.reasons__description В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»

    div.reasons__cards
        div.card
            div.card__image 
                include ../svgIcons/guarantee.svg
            p.card__title Большой гарантийный срок
            p.card__description Крепёж, стыковка элементов – 
                span 10 лет
                br
                |Сквозная коррозия труб – 
                span 5 лет
                br
                |Гидроизоляция – 
                span 3 года
        div.card
            div.card__image 
                include ../svgIcons/architect.svg
            p.card__title Помощь в покупке агрегата 
            p.card__description (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
        div.card
            div.card__image 
                include ../svgIcons/review.svg
            p.card__title Реальные отзывы клиентов
            p.card__description Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.