div.social.nav__social
    a(href="#").nav__link
        include ../svgIcons/vk.svg 
    a(href="#").nav__link
        include ../svgIcons/telegram.svg 
    a(href="#").nav__link 
        include ../svgIcons/instagram.svg 
    a(href="#").nav__link
        include ../svgIcons/whatsapp.svg  