html
    include html/head
    body
    div.container 
        include html/header
        main
            include html/about
            include html/advantages
            include html/process
            include html/reasons
            include html/consultations
            include html/video
            include html/gallery
            
    include html/footer
            script(src='js/app.min.js')