:root {
  --orange-carrot: #ea6628;
  --brick-red: #e33e54;
  --deep-carmine: #ae2236;
  --black: #000000;
  --mint-turquoise: #4c858b;
  --dark-slate-gray: #215359;
  --grey: #e5e5e5;
  --white: #ffffff;
  --grey-medium: #b1b1b1;
}
