:root {
  --z-index-0: 1;
  --z-index-1: 101;
  --z-index-2: 201;
  --z-index-3: 301;
  --z-index-4: 401;
  --z-index-5: 501;
  --z-index-6: 601;
  --z-index-7: 701;
  --z-index-8: 801;
  --z-index-9: 901;
  --z-index-10: 1001;
  --z-index-11: 1101;
}

$medium: "(min-width: 768px)";
$large: "(min-width: 968px)";

