@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font($font-size, $font-weight, $text-align) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
}
